---
title: Navigation
layout: default
description: Everything is nothing but self-building.
header-img: "img/navigation-bg.jpg"
---

<!DOCTYPE html>

<html class="no-js">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Hux - Timeline</title>
<link rel="stylesheet" type="text/css" href="css/style.css?ver=6">

<!--[if lte IE 8]>
<script type="text/javascript">
(function(){ for(var i=0,el=['header','nav','footer','aside','section'];i<el.length;i++) document.createElement(el[i]); })();
</script>
<![endif]-->

</head>
<header class="intro-header" style="background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading" id="tag-heading" >
                    <h1 style="font-weight: bold">{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>
                    <span class="subheading">{{ page.description }}</span>
                </div>
            </div>
        </div>
    </div>
</header>
<body>
<!--<div style="background:#fffeee; padding:5px 0; text-align:center; color:#ff6317;">占位</div>-->
<!--您好，前来查看数据的同学们，在参考优设导航整理的网址数据后，也请在你的网站底部给个出处，烦请推荐我们导航网址及优设网。收集筛选非常辛苦，理解万岁。最后，祝君福泰安康，阖家欢乐，财源广进。-->
<!--
<div id="header">
  <div class="wrapper">
    <header>
      <h1 id="logo"><a href="http://hao.uisdc.com/" title="SDC设计师网址导航 - 优设旗下网站"><img src="http://hao.uisdc.com/css/logo.png" alt="SDC设计师网址导航" /></a></h1>
    </header>
    <div id="search">
     <form action="http://www.baidu.com/s" target="_blank" >
        <input type="text" class="keyword default-word" name="wd"/>
        <input type="submit" value="百度一下" name="baidu" class="button" />
        <input type="submit" value="谷歌两下" name="google" class="button" />
      </form>
    </div>    
    <div class="tools"> <a href="http://translate.google.cn/" class="icon-translate" title="谷歌网页翻译工具" target="_blank">翻译工具</a> <a href="http://www.uisdc.com/comeon" class="icon-add" title="邀您补充" target="_blank">邀您补充</a> <a href="/" class="icon-favor" title="加入收藏">按Ctrl+D收藏导航</a></div>
  </div>
</div>
<div id="shortcut">
    <h3>快捷导航</h3>
    <nav>
        <a href="#download" class="icon-download">资源下载</a>
        <a href="#tutorials" class="icon-tutorials">设计教程</a>
        <a href="#picture" class="icon-picture">高清图库</a>
        <a href="#color" class="icon-color">配色方案</a>
        <a href="#ui" class="icon-ui">界面设计</a>
        <a href="#template" class="icon-template">网站模版</a>          
        <a href="#site" class="icon-site">酷站推荐</a>
        <a href="#inspiration" class="icon-inspiration">灵感创意</a>
        <a href="#font" class="icon-font">字体设计</a>
        <a href="#blog" class="icon-blog">行业名博</a>
        <a href="#infographic" class="icon-infographic">信息视图</a>
        <a href="#interactive" class="icon-interactive">交互设计</a>
        <a href="#photography" class="icon-photography" style=" font-weight:bold">摄影美图</a>
        <a href="#illustrated" class="icon-illustrated">漫画插图</a>
        <a href="#infomation" class="icon-infomation">互联网讯</a>
        <a href="#company" class="icon-company">设计公司</a>
        <a href="#tool" class="icon-tool">神器推荐</a>
        <a href="#learn" class="icon-learn">设计培训</a>
        <a href="#weibo" class="icon-weibo">热门微博</a>        
    </nav>
</div>
-->
<div id="content">
<!--
	<div class="guide">
		<div class="wrapper">
		    <span class="mark"> 
		        <i class="mark-hot">最热</i> <i class="mark-new">最新</i> 
		    </span> 
		    <nav class="site-list">
		        <a class="item" href="http://www.uisdc.com/"  target="_blank">优设官网</a>
                <a class="item" href="http://hao.uisdc.com/book/"  target="_blank" style="color:#FA5F5F;">设计师图书导航</a>
		        <a class="item" href="http://hao.uisdc.com/shop/"  target="_blank">电商网址导航</a>
                <a class="item" href="http://t.cn/zQh6Rk2"  target="_blank">PS教程</a>
		        <a class="item" href="http://hao.uisdc.com/ps/"  target="_blank">PS新手手册</a>		        
		        <a class="item" href="http://www.uisdc.com/category/hot-download/tools-download"  target="_blank">神器下载</a>		        
		    </nav>
		    <section class="estab">
		    	<header class="title">设计师创业推荐</header>
		    	<ul class="list">
		    		<li class="item">
		    			<a href="http://xue.uisdc.com/draw/"title="学手绘"  target="_blank"><img src="http://image.uisdc.com/wp-content/uploads/2015/06/m-vison-banner.png"/><span>学手绘</span></a>
		    		</li>
                    <li class="item">
		    			<a href="http://bangem.taobao.com/" title="帮个忙"  target="_blank"><img src="css/xm1.jpg"/><span>帮个忙</span></a>
		    		</li>		    		
		    		<li class="item">
		    			<a href="http://uisdc.taobao.com/"title="设计师铺子"  target="_blank"><img src="css/xm3.jpg"/><span>设计师铺子</span></a>
		    		</li>
		    	</ul>
		    </section>
	    </div>
	</div>
	-->
  <div class="wrapper">
    <div id="catalog">

      <section>
        <header>
          <h2 >常备网站</h2>
        </header>
        <ul class="website-list">
          <li ><a href="http://www.uisdc.com/" class="website" target="_blank">优设网</a>
            <p class="description">网页设计干货</p>
          </li>
          <li ><a href="http://shejidaxue.com" class="website" target="_blank">设计大学</a>
            <p class="description">优质付费资源</p>
          </li>           
          <li><a href="http://news.dbanotes.net/" class="website" target="_blank">Startup News</a>
            <p class="description">Fenng的私人信息搜集平台</p>
          </li>
          <li><a href="http://www.duian.net" class="website" target="_blank">对岸</a>
            <p class="description">去中心化内容分享</p>
          </li>
          <li><a href="https://news.ycombinator.com/" class="website" target="_blank">Hacker News</a>
            <p class="description">技术类信息搜集平台</p>
          </li>         
          <li ><a href="http://hao.shejidaren.com/" class="website" target="_blank">设计导航</a>
            <p class="description">设计达人导航</p>
          </li>
          <li ><a href="http://hao.uisdc.com/" class="website" target="_blank">设计师网址导航</a>
            <p class="description">优设网</p>
          </li>
          <li><a href="http://www.ifeiwu.com/resources/url" class="website" target="_blank">飞屋资源导航</a>
            <p class="description">飞屋设计</p>
          </li>
          <li ><a href="http://www.pinterest.com/" class="website" target="_blank">Pinterest</a>
            <p class="description">全世界的人都在帮你找灵感</p>
          </li>
          <!--
          <li><a href="http://weibo.com/baiduuxc" class="website" target="_blank">百度用户体验部</a>
            <p class="description">百度最大的设计团队，由215名设计师组成</p>
          </li>
          <li><a href="http://weibo.com/qiushid" class="website" target="_blank">求是设计会</a>
            <p class="description">超人气的设计类微博，传承信仰，继续热情</p>
          </li>
          <li ><a href="http://weibo.com/djwa" class="website" target="_blank">顶尖文案</a>
            <p class="description">分享全球顶尖创意，激发你的灵感创造力</p>
          </li>
        </ul>
        <!--<a href="/" class="more-item">更多</a>--> </section>
      <section>
        <header>
          <h2 >广告新媒</h2>
        </header>
        <ul class="website-list">
          <li > <a href="http://www.digitaling.com/" class="website" target="_blank">数英网</a>
            <p class="description">新媒体时代广告人必备</p>
          </li>
          <li > <a href="http://www.topys.cn/" class="website" target="_blank">TOPYS</a>
            <p class="description">顶尖创意分享平台</p>
          </li>
          <li > <a href="http://www.meihua.info/" class="website" target="_blank">梅花网</a>
            <p class="description">中国营销专业领域内容最丰富的网站</p>
          </li>
          <li > <a href="http://socialbeta.com/" class="website" target="_blank">环时互动</a>
            <p class="description">社交媒体和数字营销内容与招聘平台</p>
          <li > <a href="http://www.adquan.com/" class="website" target="_blank">广告门</a>
            <p class="description">广告行业的跌宕起伏</p>
          </li>
          <li> <a href="http://nowstc.com/" class="website" target="_blank">Social Talent</a>
            <p class="description">社交媒体数字营销</p>
          </li>
          </li>
          <li> <a href="http://www.qdaily.com/" class="website" target="_blank">好奇心日报</a>
            <p class="description">好奇驱动你的世界</p>
          </li>          
          <li > <a href="http://www.otolines.com/" class="website" target="_blank">KO文案</a>
            <p class="description"> 看！文案里的花火。</p>
          </li>
           <li><a href="http://www.tbwa.com/" class="website" target="_blank">李岱艾广告公司</a>
            <p class="description">TBWA是全球增长最快的跨国广告公司</p>
          </li>
          <li> <a href="http://www.greeninhand.com/" class="website" target="_blank">茶山花印</a>
            <p class="description">山上的美好，油然而生</p>
          </li>
          <li> <a href="http://story.noodle.com.tw/" class="website" target="_blank">小时光面馆</a>
            <p class="description">统一方便面</p>
          </li>
          <!--
          <li> <a href="http://logopond.com/" class="website" target="_blank">LogoPond</a>
            <p class="description">Logo，高端LOGO集萃，设计前必须来池子里泡一泡</p>
          </li>
        </ul>
        <!--<a href="http://hao.uisdc.com/goods/" class="more-item" target="_blank" style="background-color:#f8f8f8;background-position:10px center">更多</a> --></section> 
       <section>
        <header>
          <h2 >数据排行</h2>
        </header>
        <ul class="website-list">
          <li > <a href="http://top.baidu.com/buzz.php?p=top10" class="website" target="_blank">百度风云榜</a>
            <p class="description">实时搜索热点</p>
          </li>
          <li > <a href="http://zhishu.baidu.com/" class="website" target="_blank">百度指数</a>
            <p class="description">热点数据分析</p>
          </li>
          <li > <a href="http://data.weibo.com/datacenter/recommendapp" class="website" target="_blank">微博数据中心</a>
            <p class="description">微博热点数据分析</p>
          </li>
          <li > <a href="http://d.weibo.com/100803_-_page_hot_list?from%EF%BC%9Dfaxian_huati&mod=mfenlei" class="website" target="_blank">微博热门话题</a>
            <p class="description">微博实时热门话题</p>
          </li>
          <li> <a href="http://s.weibo.com/top/summary?Refer=top_hot&topnav=1&wvr=6" class="website" target="_blank">微博热搜</a>
            <p class="description">微博实时热门搜索关键词</p>
          </li>          
          <li > <a href="http://shu.taobao.com/" class="website" target="_blank">淘宝指数</a>
            <p class="description">淘宝商品品类数据分析</p>
          </li>
          <li> <a href="http://www.newrank.cn/" class="website" target="_blank">新榜</a>
            <p class="description">新媒体排行榜</p>
          </li>
          <li> <a href="http://www.iresearch.cn/" class="website" target="_blank">艾瑞</a>
            <p class="description">第三方经济数据、商业报告</p>
          </li>
          <li> <a href="http://zhishu.sogou.com/" class="website" target="_blank">搜狗指数</a>
            <p class="description">搜狗搜索热点数据分析</p>
          </li>
          <li > <a href="http://www.adbug.cn" class="website" target="_blank">ADBUG</a>
            <p class="description">广告实时搜索，适合广告投放效果监测</p>
          </li>
          <li> <a href="http://tanbao360.com/" class="website" target="_blank">探宝</a>
            <p class="description">舆论监控</p>
          </li>
          <li> <a href="http://www.alexa.cn/" class="website" target="_blank">Alexa</a>
            <p class="description">网站排名查询工具</p>
          </li>
        </ul>
        <!--<a href="http://hao.uisdc.com/goods/" class="more-item" target="_blank" style="background-color:#f8f8f8;background-position:10px center">更多</a> --></section>  
       <section>
        <header>
          <h2 >信息图表</h2>
        </header>
        <ul class="website-list">
          <li><a href="http://data.163.com/special/datablog/" class="website" target="_blank">网易数读</a>
            <p class="description">网易数据新闻，有大量信息图、图表、及数据分析</p>
          </li>
          <li><a href="http://news.sohu.com/matrix/" class="website" target="_blank">搜狐数字之道</a>
            <p class="description">数字剖析新闻，图表读懂社会。民生数据，简明图表</p>
          </li>
          <li ><a href="http://roll.news.sina.com.cn/chart/index.shtml" class="website" target="_blank">新浪图解天下</a>
            <p class="description">新闻视觉化，以图达意，轻松直观的阅读体验</p>
          </li>
          <li><a href="http://www.wshang.com/media/index.html" class="website" target="_blank">网商图媒体</a>
            <p class="description">电商设计师必备！用信息图视角来解读电商动态</p>
          </li>
          <li ><a href="http://news.qq.com/newspedia/all.htm" class="website" target="_blank">图表腾讯</a>
            <p class="description">推荐！腾讯的新闻百科，中文信息图设计得很不错</p>
          </li>          
          <li><a href="http://www.best-infographics.com/" class="website" target="_blank">Best Infographics</a>
            <p class="description">省事！帮你搜寻互联网上每天最热门的信息图</p>
          </li>
          <li><a href="http://www.coolinfographics.com/" class="website" target="_blank">超酷信息图</a>
            <p class="description">顶级的数据可视化和信息图博客</p>
          </li>
          <li> <a href="http://designspiration.net/search/saves/page/1/?q=infographic" class="website" target="_blank">Designspiration</a>
            <p class="description">提供不同类型的数据图表</p>
          </li>
          <li ><a href="http://yuntuwang.net/" class="website" target="_blank">云图网</a>
            <p class="description">专注信息图的传播和表达，图说百科表达天下。</p>
          </li>
          <li > <a href="https://infogr.am/" class="website" target="_blank">Infogr</a>
            <p class="description">在线制作信息图表</p>
          </li>
          <li> <a href="http://shujuguan.cn/" class="website" target="_blank">数据观</a>
            <p class="description">所有人都会用的数据分析工具</p>
          </li>
          <li> <a href="http://echarts.baidu.com/" class="website" target="_blank">ECharts</a>
            <p class="description">百度数据分析工具</p>
          </li>
        </ul>
        <!--<a href="http://hao.uisdc.com/goods/" class="more-item" target="_blank" style="background-color:#f8f8f8;background-position:10px center">更多</a> --></section> 
       <section>
        <header>
          <h2 >应用工具</h2>
        </header>
        <ul class="website-list">
          <li > <a href="http://naotu.baidu.com/" class="website" target="_blank">百度脑图</a>
            <p class="description">在线思维导图</p>
          </li>
          <li > <a href="https://modao.cc/" class="website" target="_blank">墨刀</a>
            <p class="description">原型设计</p>
          </li>
          <li > <a href="http://www.ih5.cn/" class="website" target="_blank">ih5</a>
            <p class="description">完全零代码制作网站、轻App、微信HTML5页面</p>
          </li>
          <li > <a href="http://p.h6app.com/index.html" class="website" target="_blank">未来应用</a>
            <p class="description">H5市场、推广、优化</p>
          </li>
          <li> <a href="http://www.epub360.com/" class="website" target="_blank">epub360</a>
            <p class="description">简易专业级H5制作工具</p>
          </li>          
          <li > <a href="http://grouplus.cn/" class="website" target="_blank">group+</a>
            <p class="description">社群管理工具</p>
          </li>
          <li> <a href="http://pro.piyingke.com/" class="website" target="_blank">皮影客</a>
            <p class="description">3分钟制作动画</p>
          </li>
          <li> <a href="http://wangjuol.com/" class="website" target="_blank">网聚互动</a>
            <p class="description">微信公众号大屏幕弹幕</p>
          </li>
          <li> <a href="http://tool.oschina.net/codeformat/js/" class="website" target="_blank">代码格式化</a>
            <p class="description">在线格式化代码</p>
          </li>
          <li > <a href="http://cli.im/" class="website" target="_blank">草料二维码</a>
            <p class="description">在线二维码制作</p>
          </li>
           <li ><a href="http://www.yeezan.com/" class="website" target="_blank">易赞</a>
            <p class="description">自媒体发展的商业服务平台</p>
          </li>
          <li> <a href="http://lab.lepture.com/editor/" class="website" target="_blank">MD在线写作</a>
            <p class="description">markdown在线文档写作</p>
          </li>
        </ul>
        <!--<a href="http://hao.uisdc.com/goods/" class="more-item" target="_blank" style="background-color:#f8f8f8;background-position:10px center">更多</a> --></section> 
       <section>
        <header>
          <h2 >协作工具</h2>
        </header>
        <ul class="website-list">
          <li > <a href="https://www.teambition.com/" class="website" target="_blank">Teambition</a>
            <p class="description">让你可以和同伴共享项目进展，随时沟通，从而轻松完成目标</p>
          </li>
          <li > <a href="https://shimo.im/" class="website" target="_blank">石墨文档</a>
            <p class="description">实时在线协作文档</p>
          </li>
          <li > <a href="https://www.processon.com/tour" class="website" target="_blank">ProcessOn</a>
            <p class="description">在线制作流程图，实时协作</p>
          </li>
          <li > <a href="https://bearyboard.com/" class="website" target="_blank">白板</a>
            <p class="description">设计图讨论工具</p>
          </li>
          <li> <a href="https://worktile.com" class="website" target="_blank">Worktile</a>
            <p class="description">团队协同工具，让你的团队随时随地一起工作</p>
          </li>          
          <li > <a href="https://tower.im" class="website" target="_blank">Tower</a>
            <p class="description">高效管理你的团队以及项目</p>
          </li>
          <li> <a href="https://trello.com/" class="website" target="_blank">Trello</a>
            <p class="description">国外免费团队协作工具</p>
          </li>
          <!--
          <li> <a href="http://www.brusheezy.com/" class="website" target="_blank">Brusheezy</a>
            <p class="description">笔刷，著名的免费笔刷、图案纹理资源站</p>
          </li>
          <li> <a href="http://fbrushes.com/" class="website" target="_blank">Fbrushes</a>
            <p class="description">笔刷+纹理，高质量的免费PS笔刷、图案及纹理</p>
          </li>
          <li > <a href="http://cn.vectorhq.com/" class="website" target="_blank">VectorHQ</a>
            <p class="description">免费矢量图和PSD资源，四十万套宝贝资源一网打尽</p>
          </li>
          <li> <a href="http://www.dafont.com/theme.php?cat=504&fpp=20" class="website" target="_blank">Dafont</a>
            <p class="description">字体，高质量免费字体下载，设计师必备资源站</p>
          </li>
          <li> <a href="http://logopond.com/" class="website" target="_blank">LogoPond</a>
            <p class="description">Logo，高端LOGO集萃，设计前必须来池子里泡一泡</p>
          </li>
        </ul>
        <!--<a href="http://hao.uisdc.com/goods/" class="more-item" target="_blank" style="background-color:#f8f8f8;background-position:10px center">更多</a> --></section> 
      <section>
        <header>
          <h2 >设计工具</h2>
        </header>
        <ul class="website-list">
          <li > <a href="https://tinypng.com/" class="website" target="_blank">TinyPNG</a>
            <p class="description">图片压缩</p>
          </li>
          <li > <a href="http://optimizilla.com/zh/" class="website" target="_blank">Optimizilla</a>
            <p class="description">在线图像压缩工具，可批量</p>
          </li>
          <li > <a href="http://ipaiban.com/" class="website" target="_blank">i排版</a>
            <p class="description">微信图文在线排版</p>
          </li>
          <li > <a href="http://www.135editor.com/" class="website" target="_blank">135排版</a>
            <p class="description">样式最多的微信图文排版</p>
          </li>
          <li> <a href="http://weibotuchuang.sinaapp.com/" class="website" target="_blank">微博图床</a>
            <p class="description">免费无限流量图片上传</p>
          </li>          
          <li > <a href="https://tagul.com/my-clouds" class="website" target="_blank">文字云</a>
            <p class="description">高大上的文字云制作工具</p>
          </li>
          <li> <a href="http://www.shejidaren.com/examples/tools/low-poly/" class="website" target="_blank">在线多边形制作</a>
            <p class="description">在线low poly制作工具，简单几步即可创作一幅艺术作品</p>
          </li>
          <li> <a href="http://vectormagic.com/home" class="website" target="_blank">Vector magic</a>
            <p class="description">强大的位图转矢量图工具</p>
          </li>
          <li> <a href="http://www.chuangkit.com/index.html" class="website" target="_blank">创客贴</a>
            <p class="description">在线平面设计工具</p>
          </li>
          <li > <a href="http://www.youziku.com/Home/FontSelect" class="website" target="_blank">有字库</a>
            <p class="description">生成中文@fontface字体</p>
          </li>
          <li ><a href="http://www.uisdc.com/ps-play" class="website" target="_blank">Ps Play</a>
            <p class="description">手机同步实时预览电脑PS画面，移动设计零阻力</p>
          </li>
          <!--
          <li> <a href="http://lab.lepture.com/editor/" class="website" target="_blank">MD在线写作</a>
            <p class="description">markdown在线文档写作</p>
          </li>
        </ul>
        <!--<a href="http://hao.uisdc.com/goods/" class="more-item" target="_blank" style="background-color:#f8f8f8;background-position:10px center">更多</a> --></section>  
      <section>
        <header>
          <h2 >配色方案</h2>
        </header>
        <ul class="website-list">
          <li > <a href="http://www.shejidaren.com/examples/tools/color-scheme/" class="website" target="_blank">Color Scheme</a>
            <p class="description">在线配色中文版</p>
          </li>
          <li > <a href="https://coolors.co/browser" class="website" target="_blank">coolors APP</a>
            <p class="description">要在线配色以及查看优秀的配色方案</p>
          </li>
          <li > <a href="http://www.colorhunter.com/" class="website" target="_blank">Color Hunter</a>
            <p class="description">上传图像获取配色方案</p>
          </li>
          <li > <a href="http://colllor.com/" class="website" target="_blank">Colllor</a>
            <p class="description">轻松创建色调一致的配色板</p>
          </li>
          <li> <a href="http://www.materialpalette.com/" class="website" target="_blank">Material风格配色</a>
            <p class="description">轻易推荐出Google Magerial Design的配色方案</p>
          </li>          
          <li > <a href="http://huaban.com/explore/shejipeise/?md=bdwzshejidaren" class="website" target="_blank">设计配色方案</a>
            <p class="description">配色排版</p>
          </li>
          <li> <a href="http://nipponcolors.com/" class="website" target="_blank">日本传统色系</a>
            <p class="description">日本传统色系</p>
          </li>
          <li> <a href="http://www.colordic.org/w" class="website" target="_blank">日本和色大辞典</a>
            <p class="description">日本和色大辞典</p>
          </li>
          <!--
          <li> <a href="http://fbrushes.com/" class="website" target="_blank">Fbrushes</a>
            <p class="description">笔刷+纹理，高质量的免费PS笔刷、图案及纹理</p>
          </li>
          <li > <a href="http://cn.vectorhq.com/" class="website" target="_blank">VectorHQ</a>
            <p class="description">免费矢量图和PSD资源，四十万套宝贝资源一网打尽</p>
          </li>
          <li> <a href="http://www.dafont.com/theme.php?cat=504&fpp=20" class="website" target="_blank">Dafont</a>
            <p class="description">字体，高质量免费字体下载，设计师必备资源站</p>
          </li>
          <li> <a href="http://logopond.com/" class="website" target="_blank">LogoPond</a>
            <p class="description">Logo，高端LOGO集萃，设计前必须来池子里泡一泡</p>
          </li>
        </ul>
        <!--<a href="http://hao.uisdc.com/goods/" class="more-item" target="_blank" style="background-color:#f8f8f8;background-position:10px center">更多</a> --></section>  
      <section>
        <header>
          <h2 >字体下载</h2>
        </header>
        <ul class="website-list">
          <li > <a href="http://sicangziti.com/" class="website" target="_blank">私藏字体</a>
            <p class="description">设计大学字体资源</p>
          </li>
          <li><a href="http://ziti.admin5.com/" class="website" target="_blank">A5字体下载</a>
            <p class="description">国内较全的字体库，提供中英文字体预览、打包下载</p>
          </li>
          <li><a href="http://www.fontex.org/" class="website" target="_blank">Fontex</a>
            <p class="description">很酷的字体展现方式，字体免费可用于商业用途</p>
          </li>
          <li><a href="http://www.ziticq.com/" class="website" target="_blank">字体传奇</a>
            <p class="description">字体品牌设计师交流网，字体相关的教程、讲座等</p>
          </li>
          <li><a href="http://www.typographyserved.com/" class="website" target="_blank">TypographyServed</a>
            <p class="description">推荐！字体专题频道，汇聚字体设计、印字、排版</p>
          </li>          
          <li><a href="http://www.qiuziti.com/" class="website" target="_blank">求字体</a>
            <p class="description">找字体神器，并提供中文和英文字体库下载</p>
          </li>
          <li> <a href="http://www.losttype.com/browse/" class="website" target="_blank">losttype</a>
            <p class="description">非常多漂亮的英文字体，带banner展示</p>
          </li>
          <li> <a href="https://www.fontfont.com/fonts" class="website" target="_blank">FontFont</a>
            <p class="description">字体巨擘！强大的字体检索引擎，收编无数优质字体</p>
          </li>
          <li><a href="http://www.1001freefonts.com/" class="website" target="_blank">1001 Free Fonts</a>
            <p class="description">超过25900个高质量的字体下载，从古典到时尚</p>
          </li>
           <li> <a href="http://www.dafont.com/theme.php?cat=504&fpp=20" class="website" target="_blank">Dafont</a>
            <p class="description">字体，高质量免费字体下载，设计师必备资源站</p>
          </li>  
            <!--
          <li> <a href="http://www.dafont.com/theme.php?cat=504&fpp=20" class="website" target="_blank">Dafont</a>
            <p class="description">字体，高质量免费字体下载，设计师必备资源站</p>
          </li>
          <li> <a href="http://logopond.com/" class="website" target="_blank">LogoPond</a>
            <p class="description">Logo，高端LOGO集萃，设计前必须来池子里泡一泡</p>
          </li>
        </ul>
        <!--<a href="http://hao.uisdc.com/goods/" class="more-item" target="_blank" style="background-color:#f8f8f8;background-position:10px center">更多</a> --></section>  
      <section>
        <header>
          <h2 >高清图库</h2>
        </header>
        <ul class="website-list">
          <li > <a href="http://cn.forwallpaper.com/" class="website" target="_blank">ForWallpaper</a>
            <p class="description">免费可商用的高清图库网站，分类非常详细</p>
          </li>
          <li > <a href="http://www.designerspics.com/" class="website" target="_blank">DesignersPics</a>
            <p class="description">设计师图片素材</p>
          </li>
          <li > <a href="http://alpha.wallhaven.cc/" class="website" target="_blank">WallHaven涅盘新生</a>
            <p class="description">WallBase创办人失联后，前成员推出的测试版 <a class="web-story" href="http://www.uisdc.com/remember-and-rip-wallbase"  target="_blank" >[故事]</a></p>
          </li>
          <li  > <a href="http://eput.com/editors" class="website" target="_blank">Eput高品质图片</a>
            <p class="description">国内人气高品质图片分享与售卖平台，设计必备</p>
          </li>
          <li> <a href="http://www.pexels.com/" class="website" target="_blank">Pexels</a>
            <p class="description">推荐！提供高清尺寸且品质优良的免费照片网站</p>
          </li>          
          <li> <a href="https://500px.com/popular" class="website" target="_blank">500px</a>
            <p class="description">有着世界上最好的照片分享，你值得拥有</p>
          </li>
          <li> <a href="http://pixabay.com/zh/photos/?order=latest" class="website" target="_blank">Pixabay</a>
            <p class="description">29万张免费高清图片，高质量可商用</p>
          </li>
          <li> <a href="http://ffffound.com/" class="website" target="_blank">FFFFOUND!</a>
            <p class="description">超人气网站！别被简陋的外表所迷惑，F可是个魔鬼</p>
          </li>
          <li> <a href="https://unsplash.com/" class="website" target="_blank">Unsplash</a>
            <p class="description">高品质图片素材，可免费用在任何地方</p>
          </li>
          <li > <a href="http://www.gratisography.com/" class="website" target="_blank">Gratisography</a>
            <p class="description">免费高分辨率真图片，可个人及商用</p>
          </li>
          <li> <a href="http://nos.twnsnd.co/" class="website" target="_blank">Twnsnd</a>
            <p class="description">免费怀旧、复古照片分享</p>
          </li>
          <li > <a href="http://www.pixiv.net/" class="website" target="_blank">pixiv</a>
            <p class="description">插画交流网站</p>
          </li>
        </ul>
        <!--<a href="http://hao.uisdc.com/goods/" class="more-item" target="_blank" style="background-color:#f8f8f8;background-position:10px center">更多</a> --></section>
      <section>
        <header>
          <h2 >图标下载</h2>
        </header>
        <ul class="website-list">
          <li > <a href="http://www.easyicon.net/" class="website" target="_blank">Easy icon</a>
            <p class="description">图标搜索引擎(中英)</p>
          </li>
          <li > <a href="http://www.iconfinder.com" class="website" target="_blank">Icon Finder</a>
            <p class="description">图标搜索引擎(英)</p>
          </li>
          <li > <a href="http://www.iconfont.cn/" class="website" target="_blank">阿里图标库</a>
            <p class="description">阿里巴巴矢量图标库</p>
          </li>
          <li > <a href="http://www.iconmonstr.com" class="website" target="_blank">iconmonstr</a>
            <p class="description">设计风格简约的图标素材</p>
          </li>
          <li> <a href="http://thenounproject.com/" class="website" target="_blank">The Nounproject</a>
            <p class="description">高度可识别性的符号、图标</p>
          </li>          
          <li > <a href="http://www.logoeps.com/" class="website" target="_blank">Logo EPS</a>
            <p class="description">可以免费下载矢量LOGO模板的网站</p>
          </li>
          <li> <a href="http://iconmelon.com/" class="website" target="_blank">iconmelon</a>
            <p class="description">提供漂亮的SVG图标</p>
          </li>
          <li> <a href="http://sucai.sogou.com/index.shtml" class="website" target="_blank">搜狗素材</a>
            <p class="description">抓取了好几个专业素材网站的图片库，质量高，数量大</p>
          </li>
          <!--
          <li> <a href="http://fbrushes.com/" class="website" target="_blank">Fbrushes</a>
            <p class="description">笔刷+纹理，高质量的免费PS笔刷、图案及纹理</p>
          </li>
          <li > <a href="http://cn.vectorhq.com/" class="website" target="_blank">VectorHQ</a>
            <p class="description">免费矢量图和PSD资源，四十万套宝贝资源一网打尽</p>
          </li>
          <li> <a href="http://www.dafont.com/theme.php?cat=504&fpp=20" class="website" target="_blank">Dafont</a>
            <p class="description">字体，高质量免费字体下载，设计师必备资源站</p>
          </li>
          <li> <a href="http://logopond.com/" class="website" target="_blank">LogoPond</a>
            <p class="description">Logo，高端LOGO集萃，设计前必须来池子里泡一泡</p>
          </li>
        </ul>
        <!--<a href="http://hao.uisdc.com/goods/" class="more-item" target="_blank" style="background-color:#f8f8f8;background-position:10px center">更多</a> --></section>  

    </div>
  </div>
</div>

<br>
<br>
<br>

{% if site.duoshuo_username %}
<!-- 多说评论框 start -->
<div class="comment">
    <div class="ds-thread"
    data-thread-id="{{site.duoshuo_username}}/navigation"
    data-title="{{page.title}}"
    data-url="{{site.url}}{{site.baseurl}}{{page.url}}"></div>
</div>
<!-- 多说评论框 end -->

<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    // dynamic User hacking by Hux
    var _user = '{{site.duoshuo_username}}';
    // duoshuo comment query.
    var duoshuoQuery = {short_name: _user };
    (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0]
         || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
</script>
<!-- 多说公共JS代码 end -->
{% endif %}


{% if site.disqus_username %}
<!-- disqus 评论框 start -->
<div class="comment">
    <div id="disqus_thread" class="disqus-thread">

    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus_username}}";
    var disqus_identifier = "{{site.disqus_username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}

<script src="js/jquery.js"></script> 
<script src="js/main.js"></script>
</body>
</html>